# list of all packages used throughout the exercises

# s1 - development environment
python-dotenv
nbconvert
torch
torchvision
pipreqs
numpy
pandas
matplotlib
# s2 - organisation and version control
typer
invoke
cookiecutter
dvc
dvc-gdrive
ruff
mypy
# s3 - reproducibility
torchvision
#hydra-cookiecutter
# s4 - debugging and logging
pytorch-lightning
wandb
snakeviz
torch_tb_profiler
# s5 - continuous integration
pre-commit
pytest
coverage
